@using queue_management.Models
@model IEnumerable<queue_management.Models.Location>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Content-Wrapper-Title"] = "Listado de Locations";
}




<div class="row">
    <div class="offset-9 col-3 mb-3">
        <div class="float-right">
            <a asp-action="Create" asp-controller="Locations" class="btn btn-success d-block mx-auto btn-lg">
                <i class="bi bi-folder-plus mr-2"></i>&nbsp;&nbsp;Nuevo Location
            </a>
        </div>
    </div>
</div>
<div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
                  <tbody>
                    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.LocationID">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.LocationID">
                        <i class="bi bi-info-circle"></i> Detalle
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.LocationID">
                        <i class="bi bi-eraser"></i> Borrar
                    </a>
            </td>
        </tr>
}
                  </tbody>
                  <tfoot>
                   <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->










@section Scripts {
    <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#Locations').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
    <script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/adminlte/plugins/jszip/jszip.min.js"></script>
<script src="~/adminlte/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
}
