@using queue_management.Models
@model queue_management.Models.Unit

@{
    ViewData["Title"] = "Borrar Unidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>

<body>
    <h1>Borrar Unidad</h1>
    <h3>Id.: @Model.UnitID - @Model.Area.AreaName - @Model.UnitName </h3>
    <h3>¿Estás seguro de que deseas borrar esta unidad?</h3>
    <hr />

    <form asp-controller="Units" asp-action="Delete" method="post">

        <!-- Definir el id que se envía desde la vista al controlador -->
        <input type="hidden" asp-for="UnitID" value="UnitID" class="Unit" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!--- Para Nombre de la Area   -->
        <div class="mb-3 form-group">
            <label asp-for="Area.AreaName" class="form-label">@Html.DisplayNameFor(model => model.Area.AreaName)</label>
            <input type="text" asp-for="Area.AreaName" class="form-control" readonly />
            <span asp-validation-for="Area.AreaName" class="text-danger"></span>
        </div>

        <!--- Para Nombre de la Unidad   -->
        <div class="mb-3 form-group">
            <label asp-for="UnitName" class="form-label">@Html.DisplayNameFor(model => model.UnitName)</label>
            <input type="text" asp-for="UnitName" class="form-control" readonly />
            <span asp-validation-for="UnitName" class="text-danger"></span>
        </div>

        <!--- Para Descripción de la Unidad   -->
        <div class="mb-3 form-group">
            <label asp-for="UnitDescription" class="form-label">@Html.DisplayNameFor(model => model.UnitDescription)</label>
            <input type="text" asp-for="UnitDescription" class="form-control" readonly />
            <span asp-validation-for="UnitDescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <!---------------  Botones summit y cancelar  ------------->
            <hr />
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-check-square"></i> Borrar
            </button>
            <a class="btn btn-secondary" asp-action="Index">
                <i class="bi bi-x-square"></i> Cancelar
            </a>
        </div>
    </form>
</body>
</html>
