@using queue_management.Models
@model queue_management.Models.City

@{
    ViewData["Title"] = "Borrar Ciudad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>

<body>
    <h1>Borrar Ciudad</h1>
    <h3>Id.: @Model.CityID - @(Model.Country?.CountryName ?? "N/A") - @(Model.Department?.DepartmentName ?? "N/A") - 
             @(Model.Region?.RegionName ?? "N/A") - @Model.Municipality.MunicipalityName - @Model.CityName</h3>
    <h3>¿Estás seguro de que deseas borrar esta Ciudad?</h3> 
    <hr />

        <div class="col-md-4">
    <form asp-controller="Cities" asp-action="Delete" method="post">
        <!-- Definir el id que se envía desde la vista al controlador -->
            <input type="hidden" asp-for="CityID" value="CityID" class="City" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <!--- Para Nombre de País   -->
            <div class="mb-3 form-group">
                <label asp-for="Country.CountryName" class="form-label">@Html.DisplayNameFor(model => model.Country)</label>
                <input type="text" asp-for="Country.CountryName" class="form-control" readonly />
                <span asp-validation-for="Country.CountryName" class="text-danger"></span>
            </div>

            <!--- Para Nombre de Departamento   -->
            <div class="mb-3 form-group">
                <label asp-for="Department.DepartmentName" class="form-label"> @Html.DisplayNameFor(model => model.Department)</label>
                <input type="text" asp-for="Department.DepartmentName" class="form-control" readonly />
                <span asp-validation-for="Department.DepartmentName" class="text-danger"></span>
            </div>

            <!--- Para Nombre de la Region   -->
            <div class="mb-3 form-group">
                <label asp-for="Region.RegionName" class="form-label">@Html.DisplayNameFor(model => model.Region)</label>
                <input type="text" asp-for="Region.RegionName" class="form-control" readonly />
                <span asp-validation-for="Region.RegionName" class="text-danger"></span>
            </div>

            <!--- Para Nombre de la Municipio  -->
            <div class="mb-3 form-group">
                <label asp-for="Municipality.MunicipalityName" class="form-label">@Html.DisplayNameFor(model => model.Municipality)</label>
                <input type="text" asp-for="Municipality.MunicipalityName" class="form-control" readonly />
                <span asp-validation-for="Municipality.MunicipalityName" class="text-danger"></span>
            </div>

            <!--- Para Nombre de la Ciudad   -->
            <div class="mb-3 form-group">
                <label asp-for="CityName" class="form-label"> @Html.DisplayNameFor(model => model.CityName)</label>
                <input type="text" asp-for="CityName" class="form-control" readonly />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>

            <!---------------  Botones summit y cancelar  ------------->
            <div class="form-group"> 
                <hr />
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-check-square"></i> Borrar
                </button>
                <a class="btn btn-secondary" asp-action="Index">
                    <i class="bi bi-x-square"></i> Cancelar
                </a>
            </div>
        </form>
    </div>

</body>
</html>
