@using queue_management.Models
@model IEnumerable<Rating>


<h1 class="text-center">Listado de Evaluaciones del Servicio</h1>

<div class="row">
    <div class="offset-9 col-3 mb-3">
        <div class="float-right">
            <a asp-action="Create" asp-controller="Ratings" class="btn btn-success d-block mx-auto btn-lg">
                <i class="bi bi-folder-plus mr-2"></i>&nbsp;&nbsp;Nueva Evaluación
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Listado de @Model.Count() Evaluaciones</strong></h3>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered" id="tablaRatings" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RatingValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Observations)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Service)
                                </th>
      
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RatingValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Observations)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Service.ServiceName)
                                    </td>
                                    <!-- [<a asp-action="Edit" asp-route-id="@item.RatingID">Edit</a> |] -->
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RatingID">
                                            <i class="bi bi-pencil"></i> Editar
                                        </a>
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RatingID">
                                            <i class="bi bi-info-circle"></i> Detalle
                                        </a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RatingID">
                                            <i class="bi bi-eraser"></i> Borrar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tablaRatings').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}

